<!doctype>
<html>
<head>
	<title>test</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
</head>
<body>
		<header>
			<div class='header'>
				
			</div>
			
					<ul class='navOne'>
						<li> <a href='#'>Home</a></li>
						<li> <a href='#'>Search</a></li>
						<li> <a href='#'>Jobs</a></li>
						<li> <a href='#'>Blog</a></li>
					</ul>
					<h1><img src='teamster-logo.jpg' alt='logo'/></h1>
			</div>
		</header>



		

			

			<div class='unionProfile'>
				<header class='profileHeader'></header>
				
					<nav class='profileInfo'>
							<ul>
								<li class='profileInfo1'><a href='#'>Local</a></li>
								<li class='profileInfo2'><a href='#'>International</a></li>
								<li class='profileInfo3'><a href='#'>Organizing</a></li>
								<li class='profileInfo4'><a href='#'>Membership</a></li>
								<li class='profileInfo5'><a href='#'>Politics</a></li>
							</ul>
					</nav>	
			</div>

	


			

<footer>

</footer>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="activefile.js"></script>

</body>
</html>